@import url(reset.css);
@import url(FM_part.css);


:root {
    /* colors */
    /* primary*/
    --clr-light-cyan: hsl(193, 38%, 86%);
    --clr-neon-green: hsl(150, 100%, 66%);

     /* neutral */
     --clr-grayish-blue: hsl(217, 19%, 38%);
     --clr-dark-grayish-blue: hsl(217, 19%, 24%);
     --clr-dark-blue: hsl(218, 23%, 16%);
  
    /* typography */
    /* fonts */
    --ff-primary: 'Manrope', sans-serif;
    --fw-800: 800; /* base */
    --fs-28: 1.75rem; /* 28px base */
}


html {
    height: 100%;
}

body {
    min-height: 100%;
}

p {
    line-height: 1.5;
}


body {
    display: flex;
    justify-content: center;
    font-family: var(--ff-primary);
    background-color: var(--clr-dark-blue);
}

/*---------------------Mobile layout-------------------------*/
.grid_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'main'
        'attribution';
    justify-items: center;
    justify-content: center;
    align-content: center;
    max-width: 24rem;
    /*border: 2px solid green;*/
}

/* style 1st component - mobile */
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'main_advice'
        'main_hline'
        'main_dice';
    gap: 1rem;
    margin: 1rem 0 0 0;
    justify-items: center;
    background-color: var(--clr-dark-grayish-blue);
    border-radius: .8rem;
    max-width: 92%;
    padding: 1rem 1.2rem 0 1.2rem;
}

.main_advice {
    text-align: center;
}

.main_advice-title {
    font-size: .7rem;
    font-weight: lighter;
    color: var(--clr-neon-green);
    letter-spacing: .2rem;
    text-transform: uppercase;
    padding: 1.2rem;
    /*border: 2px solid white;*/
}

.main_advice-content {
    font-size: var(--fs-28);
    font-weight: var(--fw-800);
    color: hsl(0, 0%, 100%);
}

.main_hline {
    padding: .5rem 0 0 0;
}

.main_dice {
    cursor: pointer;
    border-radius: 50%;
    min-width: 3.8rem;
    min-height: 3.8rem;
    background-color: var(--clr-neon-green);
    position: relative;
    top: 2rem;
}

.main_dice:hover {
    box-shadow: 0px 0px 45px rgb(82, 255, 168, 0.8);
}

.dice_spinner {
    position: absolute;
    left: 32%;
    top: 32%;
}

/* style 2nd component - mobile */
.attribution {
    margin: 7rem 0 0 0;
}

/*---------------------Desktop layout-------------------------*/
@media screen and (min-width: 48rem) {

/* style 1st component - desktop */
.main {
    min-width: 32rem;
}

/*style 2nd component - desktop */
/*Component is styled in external css file*/

}

/*------------------grid area names---------------------------*/

.main {
    grid-area: main;
}

.main_advice {
    grid-area: main_advice;
}

.main_hline {
    grid-area: main_hline;
}

.attribution {
    grid-area: attribution;
}